

header{
    display:flex;
    justify-content: space-between;
    background-color: #7c5e99;
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

.logo{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    box-shadow: -2px 5px 2px #f25a70;
}

.nav{
    text-align: right;
}



a{
    display: inline-flex;
    align-items: center;
   font-size: 20px;
   font-family: "Fira Code", sans-serif;
   font-weight: 500;
   text-decoration: none;
   margin-right: 30px;
   color: #fff;
}

a::before{
    content: "";
    background-color: #f25a70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}



